<!DOCTYPE html>
<!--Thymeleaf 提供 th:with 属性声明局部变量，其语法与属性值分配类似：-->
<!--相当于重命名， 这里使得‘文章管理’赋值给title， 'article'赋值给active-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='事件管理',active='event'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <!--header-body是框架页面-->
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">事件管理</h4>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <!--先写出字段名称, thead嘛，就是head-->
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>标题</th>
                                <th>类型</th>
                                <th width="20%">时间</th>
                                <th width="12%">地点</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <!--tbody就是body，那就是真正的数据库的值-->
                            <tbody>
                            <th:block th:each="post : ${events}" th:with="the_pos_id=${session.loginUser.position_id}">
                                <tr th:cid="${post.event_id}">
                                    <td th:text="${post.event_id}"></td>
                                    <td th:text="${post.title}"></td>
                                    <td th:text="${post.type_flag==0?'活动':'会议'}"></td>
                                    <td th:text="${post.start_end_time}"></td>
                                    <td th:text="${post.place}"></td>
                                    <!--<td>-->
                                    <!--    <th:block th:if="${post.status == 'publish'}" th:text="已发布"/>-->
                                    <!--    <th:block th:if="${post.status == 'draft'}" th:text="草稿"/>-->
                                    <!--</td>-->
                                    <td>
                                        <th:block th:if="${the_pos_id==1 or the_pos_id==2 or the_pos_id==3 or the_pos_id==4}">
                                        <a href="javascript:void(0)" th:onclick="deleteEvent([[${post.event_id}]])"
                                           class="btn btn-warning btn-sm waves-effect waves-light m-b-5"><i
                                                class="fa fa-trash-o"></i> <span>删除</span>
                                        </a>
                                        </th:block>

                                            <a th:href="@{'/admin/event/edit/'+${post.event_id}}"
                                               class="btn btn-danger btn-sm waves-effect waves-light m-b-5" target="_blank"><i
                                                    class="fa fa-pencil"></i> <span>编辑</span>
                                            </a>

                                        <th:block th:if="${the_pos_id==1 or the_pos_id==2 or the_pos_id==3 or the_pos_id==4}">
                                            <a th:href="@{'/admin/event/checkbook/'+${post.event_id}}"  class="btn btn-primary btn-sm waves-effect waves-light m-b-5"
                                               target="_blank"><i class="fa fa-times"></i> <span>详情</span>
                                            </a>
                                        </th:block>
                                    </td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                        <!--<div th:replace="comm/macros :: pageAdminNav(${articles})"></div>-->
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();
    function deleteEvent(id) {
        tale.alertConfirm({
            title:'确定删除该活动吗?',
            then: function () {
                tale.post({
                    url : '/admin/event/delete/'+id,
                    // data: {cid: cid},
                    success: function (result) {
                        if(result && result.success){
                            tale.alertOkAndReload('活动删除成功');
                        } else {
                            tale.alertError(result.msg || '活动删除失败');
                        }
                    }
                });
            }
        });
    }
    /*]]>*/
 </script>
</body>
</html>
