<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='添加事件',active='add_event'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/select2.dist.css/select2-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/toggles/toggles.css}" rel="stylesheet"/>

<link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css" rel="stylesheet"/>
<link href="//cdn.bootcss.com/select2/3.4.8/select2.min.css" rel="stylesheet"/>
<link th:href="@{/admin/plugins/md/css/style.css}" rel="stylesheet"/>
<style>
    #tags_tagsinput {
        background-color: #fafafa;
        border: 1px solid #eeeeee;
    }

    #tags_addTag input {
        width: 100%;
    }

    #tags_addTag {
        margin-top: -5px;
    }
</style>
<body class="fixed-left">
<div id="wrapper">
        <div th:replace="admin/header::header-body"></div>
        <div class="content-page">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">
                                添加事件
                            </h3>
                        </div>
                        <div class="col-md-12">
                            <form id="articleForm" role="form" novalidate="novalidate">
                                <!--隐藏input传值-->
                                <!--<input type="hidden" name="type_flag"-->
                                <!--       th:value="${contents!=null and contents.allowComment !=null}?${contents.allowComment}: true"-->
                                <!--       id="allow_comment"/>-->

                                <!--<div class="form-group col-md-12" style="padding: 0 0 0 10px;">-->
                                    <!--引入layui-->

                                <div class="form-group col-md-3 col-sm-4">
                                    <label class="col-sm-4">类型</label>
                                    <div class="col-sm-8" style="display:flex;">
                                        <!--<div th:class="allow-true"-->
                                        <input type="radio" name="type_flag" value="0" title="活动" checked="">
                                        <div>活动</div>
                                        <input type="radio" name="type_flag" value="1" title="会议">
                                        <div>会议</div>
                                        <!--<div class="toggle toggle-success allow-true"-->
                                        <!--     onclick="allow_comment(this);"></div>-->
                                    </div>
                                </div>
                                    <!--</div>-->
                                    <!--<label class="col-sm-4">类型</label>-->
                                    <!--<div class="col-sm-8">-->
                                    <!--    &lt;!&ndash;<div th:class="allow-true"&ndash;&gt;-->
                                    <!--    <div class="toggle toggle-success allow-true"-->
                                    <!--         onclick="allow_comment(this);"></div>-->
                                    <!--</div>-->


                                <div class="form-group col-md-12" style="padding: 0 10px 0 0;">
                                    <input type="text" class="form-control" placeholder="请输入标题（必须）" name="title"
                                           required="required"
                                           aria-required="true"
                                           />
                                </div>

                                <div class="form-group col-md-12" style="padding: 0 0 0 10px;">
                                    <input type="text" class="form-control"
                                           placeholder="地点" name="place"
                                    />
                                </div>

                                <div class="form-group col-md-12" style="padding: 0 0 0 10px;">
                                <!--引入layui-->
                                <link rel="stylesheet" th:href="@{~/layui/css/layui.css}">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">时间</label>
                                        <div class="layui-input-inline" style="width: 100px;">
                                            <input type="text" name="start_time" placeholder="开始日期" id="date1" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline" style="width: 100px;">
                                            <input type="text" name="end_time" placeholder="截止日期" id="date2" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <script th:src="@{~/layui/layui.js}" charset="utf-8"></script>
                                <script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
                                <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
                                <script>
                                    layui.use(['form', 'layedit', 'laydate'], function(){
                                        var laydate = layui.laydate;
                                        //日期
                                        laydate.render({
                                            elem: '#date1'
                                        });
                                        laydate.render({
                                            elem: '#date2'
                                        });

                                    });
                                </script>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                <textarea style="height: 450px" autocomplete="off" id="text" name="detail"
                                          class="markdown-textarea"></textarea>
                                </div>

                                <div class="clearfix"></div>

                                <div class="text-right">

                                    <button type="button" class="btn btn-primary waves-effect waves-light"
                                            onclick="addEvent();">
                                        添加事件
                                    </button>
                                    <a class="btn btn-default waves-effect waves-light" th:href="@{/admin/event}">返回列表</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div th:replace="admin/footer :: footer-content"></div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="admin/footer :: footer"></div>

<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<script th:src="@{/admin/plugins/jquery-multi-select/jquery.quicksearch.js}"></script>
<script th:src="@{//cdn.bootcss.com/multi-select/0.9.12/js/jquery.multi-select.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/select2/3.4.8/select2.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js}"></script>
<script th:src="@{/admin/js/article.js}"></script>
</body>
</html>
