<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='添加公告',active='add_notice'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/select2.dist.css/select2-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/toggles/toggles.css}" rel="stylesheet"/>

<link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css" rel="stylesheet"/>
<link href="//cdn.bootcss.com/select2/3.4.8/select2.min.css" rel="stylesheet"/>
<link th:href="@{/admin/plugins/md/css/style.css}" rel="stylesheet"/>
<style>
    #tags_tagsinput {
        background-color: #fafafa;
        border: 1px solid #eeeeee;
    }

    #tags_addTag input {
        width: 100%;
    }

    #tags_addTag {
        margin-top: -5px;
    }
</style>
<body class="fixed-left">
<div id="wrapper">
        <div th:replace="admin/header::header-body"></div>
        <div class="content-page">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">
                                添加公告
                            </h3>
                        </div>
                        <div class="col-md-12">
                            <form id="articleForm" role="form" novalidate="novalidate">
                                <!--<input type="hidden" name="categories" id="categories"/>-->
                                <!--<input type="hidden" name="cid"-->
                                <!--       th:value="${contents!=null and contents.cid!=null}?${contents.cid}: ''" id="cid"/>-->
                                <!--<input type="hidden" name="status"-->
                                <!--       th:value="${contents!=null and contents.status !=null}?${contents.status}: 'publish'"-->
                                <!--       id="status"/>-->
                                <!--<input type="hidden" name="allowComment"-->
                                <!--       th:value="${contents!=null and contents.allowComment !=null}?${contents.allowComment}: true"-->
                                <!--       id="allow_comment"/>-->
                                <!--<input type="hidden" name="allowPing"-->
                                <!--       th:value="${contents!=null and contents.allowPing !=null}?${contents.allowPing}: true"-->
                                <!--       id="allow_ping"/>-->
                                <!--<input type="hidden" name="allowFeed"-->
                                <!--       th:value="${contents!=null and contents.allowFeed !=null}?${contents.allowFeed}: true"-->
                                <!--       id="allow_feed"/>-->
                                <!--<input type="hidden" name="content" id="content-editor"/>-->

                                <div class="form-group col-md-12" style="padding: 0 10px 0 0;">
                                    <input type="text" class="form-control" placeholder="请输入公告标题（必须）" name="title"
                                           required="required"
                                           aria-required="true"/>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                <textarea style="height: 450px" autocomplete="off" id="text" name="detail"
                                          class="markdown-textarea"></textarea>
                                </div>

                                <div class="clearfix"></div>

                                <div class="text-right">
                                    <button type="button" class="btn btn-primary waves-effect waves-light"
                                            onclick="addNotice()">
                                        添加公告
                                    </button>
                                    <a class="btn btn-default waves-effect waves-light" th:href="@{/admin/notice}">返回公告列表</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--<script type="text/javascript">-->
                    <!--    var tale = new $.tale();-->
                    <!--    function addNotice(){-->
                    <!--        //通过调用的按钮找到此id的标签，获取里面input标签，name属性为title的-->
                    <!--        var title = $('#articleForm input[name=title]').val();-->
                    <!--        var content = $('#text').val();-->
                    <!--        if (title == '') {-->
                    <!--            tale.alertWarn('请输入公告标题');-->
                    <!--            return;-->
                    <!--        }-->
                    <!--        if (content == '') {-->
                    <!--            tale.alertWarn('请输入公告内容');-->
                    <!--            return;-->
                    <!--        }-->
                    <!--        // 设置 第一个匹配id=content-editor的属性 value=content。-->
                    <!--        // $('#content-editor').val(content);-->
                    <!--        // $("#articleForm #status").val(status);-->
                    <!--        // $("#articleForm #categories").val($('#multiple-sel').val());-->
                    <!--        var params = $("#articleForm").serialize();-->
                    <!--        var url = '/admin/notice/add';-->
                    <!--        tale.post({-->
                    <!--            url:url,-->
                    <!--            data:params,-->
                    <!--            success: function (result) {-->
                    <!--                if (result && result.success) {-->
                    <!--                    tale.alertOk({-->
                    <!--                        text:'添加成功',-->
                    <!--                        then: function () {-->
                    <!--                            setTimeout(function () {-->
                    <!--                                window.location.href = '/admin/notice';-->
                    <!--                            }, 500);-->
                    <!--                        }-->
                    <!--                    });-->
                    <!--                } else {-->
                    <!--                    tale.alertError(result.msg || '添加失败');-->
                    <!--                }-->
                    <!--            }-->
                    <!--        });-->
                    <!--    };-->
                    <!--</script>-->
                    <div th:replace="admin/footer :: footer-content"></div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="admin/footer :: footer"></div>

<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<script th:src="@{/admin/plugins/jquery-multi-select/jquery.quicksearch.js}"></script>
<script th:src="@{//cdn.bootcss.com/multi-select/0.9.12/js/jquery.multi-select.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/select2/3.4.8/select2.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js}"></script>
<script th:src="@{/admin/js/article.js}"></script>
</body>
</html>
